/* Importing destination images */
.destination--barcelona {
    background-image: url(../assets/barcelona.jpg);
}

.destination--paris {
    background-image: url(../assets/paris.jpg);
}

.destination--rome {
    background-image: url(../assets/rome.jpg);
}

.responsive {
    padding: 0 6px;
    width: 24.99999%
}

#destination__header-title {
    color: #fff;
    font-size: 8rem;
    margin-bottom: 5rem;
  }  

//   Nesting
.destination {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 5rem 5rem;

    &__schedule {
        display: flex;
        max-height: 60 rem;
        gap: 4rem;
        padding: 0 10rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        min-width: 25rem;
        padding: 2rem;
        text-align: center;
    }
}